<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="tablo" providerName="System.Data.SqlClient" connectionString="Data Source=DUBINA-ACU\SQLEXPRESS;Initial Catalog=Tablo;Integrated Security=True" />
  </connectionStrings>


  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="BasicHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
      </netTcpBinding>

    </bindings>

    <services>
      <service name="TabloValuesWinService.Service" behaviorConfiguration="TabloValuesWinService.ServiceBehavior">
        <endpoint address="" binding="netTcpBinding" behaviorConfiguration="" contract="TabloValuesWinService.IService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" behaviorConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15200/TabloValuesWinService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TabloValuesWinService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  
</configuration>